<?xml version="1.0"?>
<launch>	

  <include file="$(find otokar_gazebo)/launch/empty.launch" />
<!-- 
   <include file="$(find otokar_gazebo)/launch/otokar_spawn.launch">
     <arg name="robot_name" value="/sol" />
     <arg name="robot_position" value="-x 7.94 -y -5.04 -z 0.0 -R 0 -P 0 -Y 0" />
     <arg name="otokar_des" default="$(find otokar_description_v2)/urdf/sol_rokos.urdf" /> 
   </include>


   <include file="$(find otokar_gazebo)/launch/otokar_spawn.launch">
     <arg name="robot_name" value="/sag" />
     <arg name="robot_position" value="-x 7.94 -y 1.28 -z 0.0 -R 0 -P 0 -Y 0.0" />
     <arg name="otokar_des" default="$(find otokar_description_v2)/urdf/sag_rokos.urdf" /> 
   </include>
 -->
</launch>
