<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="right_rokos" />
  <arg name="config_path" default="$(find right_otokar_moveit_config)"/>
  <arg name="scene" default="false" />
  <arg name="scene_filename" default=""/> <!-- <arg name="scene_filename" default="kutu_1.scene"/> -->

  <group ns="$(arg robot_name)">
    <rosparam command="load" file="$(arg config_path)/config/joint_names.yaml"/>

    <include file="$(arg config_path)/launch/planning_context.launch" >
      <arg name="load_robot_description" value="true" />
    </include>

    <include file="$(arg config_path)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
    </include>

    <group if="$(arg scene)">

      <include file="$(find rokos_moveit)/launch/scene.launch">
        <arg name="s_path" value="$(arg config_path)"/>
        <arg name="s_filename" value="$(arg scene_filename)"/>
      </include>

    </group>

  </group>
  
</launch>
