<?xml version="1.0"?>

<launch>

	<node pkg="rokos_moveit" type="task_service_node.py" name="task_service_node" output="screen" >
		<rosparam file="$(find rokos_moveit)/params/right_rokos_task.yaml" command="load"/>
		<rosparam file="$(find rokos_moveit)/params/left_rokos_task.yaml" command="load"/>
		<rosparam file="$(find rokos_moveit)/params/rokos_task.yaml" command="load"/>
	</node>

</launch>
